[Desktop Entry]
Name=backup-copy.sh
Comment=backup a file by copying 
Exec=bash -c "bash $HOME/bin/backup-copy.sh"
Icon=
Terminal=true
Type=Application
Categories=Utility;
Name[en_US]=backup-copy
