[Desktop Entry]
Name=mount-disk.sh
Comment=mount an asynchronously encrypted virtual partition file
Exec=mount-disk.sh
Icon=
Terminal=true
Type=Application
Categories=Utility;Application;
Name[en_US]=mount-disk
